body {
  width: 300px;
  padding: 15px;
  font: 18px/1.5 sans-serif;
  -webkit-user-select: none;
}

.block-setting-option {
  color: #fff;
  background-color: #aaa;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.block-setting-option.selected {
  background-color: #0af;
}
