body {
  width: 300px;
  padding: 15px;
  font: 18px/1.5 sans-serif;
  -webkit-user-select: none;
}

.logo {
  display: block;
  width: 128px;
  height: 128px;
  margin: 10px auto;
}

h1 {
  text-align: center;
  color: #888;
  font-size: 20px;
}

.block-setting-toggle,
.block-setting-option {
  color: #fff;
  background-color: #aaa;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.block-setting-toggle.selected,
.block-setting-option.selected {
  background-color: #0af;
}
